<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style-lista.css">
    <link rel="stylesheet" href="styles/style-lista-tabla.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hültár - Bevásárló lista</title>
    <script defer src="lista-vegleges.js"></script>
    <script defer src="lista-keszen.js"></script>
    <script defer src="lista-uj.js"></script>
    <script defer src="lista.js"></script>
    <script defer src="uj-mennyiseg.js"></script>
</head>

<body>

    <div class="kocsi"><img draggable="false" src="kepek/kocsi.png" alt=""></div>

    <div class="lista-cimke">
        <h3>bevásárló lista <i class="fas fa-clipboard-list"></i></h3>
    </div>

<div class="egesz">

    <div class="tablazat-div">


        <table class="tabla">
            <thead>
                <tr>
                    <th colspan="4" style="text-align: center; font-size: 20px;"><i class="fas fa-shopping-cart"></i></th>
                </tr>
            </thead>

            <tbody id="tablazat"></tbody>
        </table>


    </div>

    <div class="uj-hozzaadasa">


        <div class="lista-cimke">
            <h3>Új felvétele</h3>
        </div>
        <label for="szoveg">Termék: <input name="szoveg" id="uj-szoveg" type="text"></label><br>
        <label for="mennyiseg">Mennyiség: 
            <button name="mennyiseg" class="interakcio-gomb" onclick="ujMennyisegAllitas('minusz')" id="uj-mennyiseg-minusz">-</button>
            <input disabled id="uj-mennyiseg-beiras" value="1" max="100" min="1" type="number">
            <button class="interakcio-gomb" onclick="ujMennyisegAllitas('plussz')" id="uj-mennyiseg-plussz">+</button>
        </label>
        <label for="mertekegyseg">
            <select name="mertekegyseg" id="uj-mertekegyseg">
                <option value="darab">Darab</option>
                <option value="doboz">Doboz</option>
                <option value="liter">Liter</option>
                <option value="kiló">Kiló</option>
            </select>
        </label>

        <br><button id="uj-hozzaadas-gomb">Hozzáadás</button>
        <br><button style="cursor: default; opacity: 0;">Hozzáadás</button>

    </div>
</div>
<i id="vissza-gomb" style="text-align: center; cursor: pointer;" onclick="window.location.href ='/'" class="fas fa-undo-alt"></i>
</html>
