@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
body {
    background-color: #eeeeee;
    background-image: url('../kepek/zarva.png');
    background-position: 50% -19%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;
    overflow: hidden;
}

.bevasarlo-lista-ikon {
    transition: 0.2s;
    cursor: pointer;
    position: fixed;
    top: 23%;
    left: 46%;
    font-size: 45px;
    transform: rotate(-5deg)
}
.bevasarlo-lista-ikon:hover {
    transition: 0.45s;
    font-size: 49px;
}
.bevasarlo-lista-ikon a {
    text-decoration: none;
    color: var(--gray-dark);
}

.huto-nyitas {
    transition: 0.2s;
    position: fixed;
    width: 18px;
    height: 76.5px;
    border-radius: 10px;
    background-color: #231f20;
    top: 51%;
    left: 36.2%;
    cursor: pointer;
}

.huto-nyitas:hover {
    transition: 0.45s;
    width: 20px;
    height: 78.5px;
}

#myModal {
    overflow: hidden;
}

.huto-nyitas-fent {
    position: fixed;
    width: 18px;
    height: 77.4px;
    border-radius: 10px;
    background-color: #231f20;
    top: 26%;
    left: 36.2%;
}

.ikonok {
    width: 150px;
    display: flex;
    padding: 5px;
    padding-left: 0px;
}

.ikonok img {
    margin-right: 5px;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 55vh;
    overflow: auto;
}

.close {
    color: rgb(245, 60, 60);
    opacity: 1;
    border: none;
}
.close:hover {
    color: rgb(187, 14, 14);
}
.close:focus {
    border: none;
    outline: none;
}

.beallitasok {
    transition: 0.2s;
    font-size: 17px;
    cursor: pointer;
    position: fixed;
    top: 83%;
    left: 62%;
}
.beallitasok:hover {
    transition: 0.45s;
    font-size: 19px;
}
button {
    outline: none;
}
button:focus {
    outline: none;
}