.elerheto-ikonok {
    display: none;
}


.csukva {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.nyitva {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

#ikonok-lenyitas p {
    cursor: pointer;
    font-size: 17px;
}
#ikonok-lenyitas i  {
    font-size: 23px;
    cursor: pointer;
}