table {
    margin: 0 auto;
    background-color: rgb(175 173 173);
    box-shadow: 3px 5px #cecece;
}
thead th {
    background-color: rgb(175, 173, 173);
    border-bottom: 2px solid rgb(97, 97, 97);
}
table {
    width: 370px;
    background-color: rgb(175 173 173);
}
  
table, td {
    border-collapse: collapse;
}
  
thead {
    display: table; 
    width: calc(100% - 17px);
}
  
tbody {
    display: block;
    max-height: 250px; 
    overflow-y: auto; 
}
  
th, td {
    width: 33.33%;
    padding: 5px;
    word-break: break-all; 
}
  
tr {
    display: table;
    width: 370px;
    box-sizing: border-box;
}
  
td {
    text-align: center;
    border-bottom: none;
    border-left: none;
}