<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/kinyitva.css">
    <link rel="stylesheet" href="styles/kinyitva-tabla.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hültár - Kinyitva</title>
    <script defer src="scripts/ikonok.js"></script>
    <script defer src="scripts/uj.js"></script>
    <script defer src="scripts/uj-letrehozas.js"></script>
    <script defer src="scripts/uj-alaphelyzetbe.js"></script>
    <script defer src="scripts/uj-mennyiseg.js"></script>
    <script defer src="scripts/script.js"></script>
    <script defer src="scripts/f5.js"></script>
    <script defer src="scripts/hiba.js"></script>
    <script defer src="scripts/interakciok.js"></script>
    <script defer src="scripts/hangok.js"></script>
</head>

<body>

    <audio src="hangok/nyitas.mp3"></audio>

    <div class="lista"><img draggable="false" src="kepek/lista.png" alt=""></div>
    <div class="hultar-cimke">
        <h3>hűtő leltár</h3>
    </div>
   
    <div class="tartalom">
        <table>
            <thead>
                <tr>
                    <td colspan="4"><i style="font-size: 25px; margin: 5px;" class="fas fa-icicles"></i></td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div style="width: 590px; margin: 0 auto;">
        <hr>
    </div>

    <div style="text-align: center;">
        <button type="button" onclick="ujAlaphelyzetbe()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Új hozzáadása</button>
        <button onclick="window.location.href ='/'" class="btn btn-primary">Vissza <i style="font-size: 12px;" class="fas fa-undo-alt"></i></button>
    </div>


    <div class="tartalom">

  <div class="modal fade" id="myModal">

    <div id="hiba-uzenet">
        <i style="padding: 3px; font-size: 45px; color: var(--red);" class="fas fa-exclamation-circle"></i><br>
        <span style="background-color: var(--red); color: whitesmoke; border-radius: 7px; padding: 2px;" id="hiba-uzenet-kijelzo"></span>
    </div>

    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Új élelmiszer hozzáadása</h4>
          <button type="button" onclick="ujAlaphelyzetbe()" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body" id="uj-1">
            <p style="font-size: 18px;">Kérlek add meg a nevét a hozzáadni kívánt élelmiszernek</p>
            <input maxlength="10" id="uj-nev-beiras" placeholder="Pl.: Tej" type="text">
        </div>

        <div class="modal-body" id="uj-2">
            <p style="font-size: 18px;">Kérlek add meg a(z) <b><span id="uj-2-mennyiseg"></span></b> mennyiségét</p>
            <div class="uj-mennyiseg">
                    <button class="interakcio-gomb" onclick="ujMennyisegAllitas('minusz')" id="uj-mennyiseg-minusz">-</button>
                    <input disabled style="text-align: center;" id="uj-mennyiseg-beiras" value="1" max="100" min="1" type="number">
                    <button class="interakcio-gomb" onclick="ujMennyisegAllitas('plussz')" id="uj-mennyiseg-plussz">+</button>
                <div class="mertekegyseg-valaszto">
                    <p>Mértékegység:</p>
                    <select id="uj-mertekegyseg">
                        <option value="darab">Darab</option>
                        <option value="doboz">Doboz</option>
                        <option value="liter">Liter</option>
                        <option value="kiló">Kiló</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="modal-body" id="uj-3">
            <p style="font-size: 18px;">Kérlek add meg a(z) <b><span id="uj-2-mennyiseg"></span></b> lejárati dátumát</p>

            <input id="uj-lejaratidatum-beiras" type="date" name="lejarati">
        </div>
    

        <div class="modal-footer" id="uj-1-footer">
            <button class="modal-vissza lathatatlan">Vissza</button>
            <button class="modal-kovetkezo" onclick="ujLetrehozasMenu(2)">Következő</button>
        </div>

        <div class="modal-footer" id="uj-2-footer">
            <button class="modal-vissza" onclick="ujLetrehozasMenu(1)">Vissza</button>
            <button class="modal-kovetkezo" onclick="ujLetrehozasMenu(3)">Következő</button>
        </div>

        <div class="modal-footer" id="uj-3-footer">
            <button class="modal-vissza" onclick="ujLetrehozasMenu(2)">Vissza</button>
            <button class="modal-befejez" onclick="ujHozzadas()">Hozzáadás</button>
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>

<script>
    document.querySelector('table').style.backgroundColor = 'rgb(175 173 173)'
</script>

</body>
</html>
