<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/lista.css">
    <link rel="stylesheet" href="styles/lista-tabla.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hültár - Bevásárló lista</title>
    <script defer src="scripts/ikonok.js"></script>
    <script defer src="scripts/lista-vegleges.js"></script>
    <script defer src="scripts/lista-keszen.js"></script>
    <script defer src="scripts/lista-uj.js"></script>
    <script defer src="scripts/lista.js"></script>
    <script defer src="scripts/uj-mennyiseg.js"></script>
    <script defer src="scripts/f5.js"></script>
    <script defer src="scripts/hiba.js"></script>
    <script defer src="scripts/interakciok-lista.js"></script>
    <script defer src="scripts/hangok.js"></script>
</head>

<body>
    <audio id="belepo" src="hangok/lista.mp3"></audio>
    <audio id="torles" src="hangok/torles.mp3"></audio>
    <audio id="iras" src="hangok/iras.mp3"></audio>
    <audio id="kihuzas" src="hangok/kihuzas.mp3"></audio>

    <div class="kocsi"><img draggable="false" src="kepek/kocsi.png" alt=""></div>

    <div class="lista-cimke">
        <h3>bevásárló lista <i class="fas fa-clipboard-list"></i></h3>
    </div>

<div class="egesz">

    <div class="tablazat-div">


        <table class="tabla">
            <thead>
                <tr>
                    <th colspan="4" style="text-align: center; font-size: 20px;"><i class="fas fa-shopping-cart"></i></th>
                </tr>
            </thead>

            <tbody id="tablazat"></tbody>
        </table>


    </div>

    <div style="width: 450px; margin: 0 auto;">
        <hr>
    </div>

    <button type="button" onclick="menuAlaphelyzet()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Új hozzáadása</button>
    <button onclick="window.location.href ='/'" class="btn btn-primary">Vissza <i style="font-size: 12px;" class="fas fa-undo-alt"></i></button>

    <div class="modal fade" id="myModal">

        <div id="hiba-uzenet">
            <i style="padding: 3px; font-size: 45px; color: var(--red);" class="fas fa-exclamation-circle"></i><br>
            <span style="background-color: var(--red); color: whitesmoke; border-radius: 7px; padding: 2px;" id="hiba-uzenet-kijelzo"></span>
        </div>

        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Új hozzáadása</h4>
              <button type="button" onclick="menuAlaphelyzet()" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">

                <label for="szoveg">Termék: <input name="szoveg" maxlength="10" id="uj-szoveg" type="text"></label><br>
                <label for="mennyiseg">Mennyiség: 
                    <button name="mennyiseg" class="interakcio-gomb" onclick="ujMennyisegAllitas('minusz')" id="uj-mennyiseg-minusz">-</button>
                    <input disabled id="uj-mennyiseg-beiras" value="1" max="100" min="1" type="number">
                    <button class="interakcio-gomb" onclick="ujMennyisegAllitas('plussz')" id="uj-mennyiseg-plussz">+</button>
                </label>
                <label for="mertekegyseg">
                    <select name="mertekegyseg" id="uj-mertekegyseg">
                        <option value="darab">Darab</option>
                        <option value="doboz">Doboz</option>
                        <option value="liter">Liter</option>
                        <option value="kiló">Kiló</option>
                    </select>
                </label>

            </div>
            <div class="modal-footer" id="uj-1-footer">
                <button id="uj-hozzaadas-gomb" class="btn hozzadas-gomb">Hozzáadás</button>
            </div>
            
          </div>
        </div>
      </div>
</div>
</html>
