

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
body {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;

}

.lista-cimke {
    margin-top: 10%;
    text-align: center;
    color: #8C8C8C;
    font-size: 25px;

}

.uj-hozzaadas {
    text-align: center;
}



tr:nth-child(1n) {
    background-color: rgb(219, 218, 218);
}

tr:nth-child(2n) {
    background-color: #FFF;
}

.balra {
    text-align: left;
}
.pipa {
    width: 50px;
    padding-top: 6px;
}
.pipa input {
    cursor: pointer;
    width: 18px;
    height: 18px;
}
.valaszto {
    opacity: 0;
}

.plusszegy-gomb, #uj-mennyiseg-plussz {
    background-color: #4bb802;
}

.plusszegy-gomb:hover, #uj-mennyiseg-plussz:hover {
    transition: 0.3;
    background-color: #0f800f;
}
.minuszegy-gomb, #uj-mennyiseg-minusz {
    background-color: rgb(243, 56, 69);
}

.minuszegy-gomb:hover, #uj-mennyiseg-minusz:hover {
    transition: 0.3;
    background-color: rgb(187, 14, 14);
}

.interakcio-gomb {
    border: none;
    text-align: center;
    width: 25px;
    height: auto;
    height: 26px;
    border-radius: 15px;
}

#uj-mennyiseg-beiras {
    width: 40px;
    text-align: center;
}

button {
    outline: none;
}
button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#uj-mertekegyseg {
    cursor: pointer;
    margin-left: 18px;
}

.uj-hozzaadasa {
    padding-left: 13%;
    text-align: center;
    width: 555px;
    margin: 0 auto;
    margin-top: 5vh;
}

.true {
    text-align: left;   
    transition: 0.4s;
    text-decoration: line-through;
    opacity: 0.3;
}

.false {
    text-align: left;
    transition: 0.2s;
    text-decoration: solid;
}
.kocsi {
    position: fixed;
    left: 21%;
    opacity: 0.02;
    z-index: -1;
}
#vissza-gomb {
    background-color: rgb(194, 194, 194);
    border: none;
    border-radius: 13px;
}

.vegleg-torles {
    text-align: center;
    transition: 0.2s;
    color: var(--red);
    font-size: 25px;
    float: left;
    cursor: pointer;
}
.vegleg-torles:hover {
    color: rgb(187, 14, 14);
    transition: 0.3s;
}

.egesz {
    padding-left: 3%;
    text-align: center;
}
.hozzadas-gomb {
    background-color: var(--green);
    color: cornsilk;
}
#hiba-uzenet {
    display: none;
    user-select: none;
    position: fixed;
    text-align: center;
    width: 300px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -150px;
    z-index: -300;
}